.footer {
  background-color: rgb(212, 194, 194);
  color: #fff;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.footer .logo {
  align-self: center;
}

.footer .copyright {
  align-self: flex-end;
  color: #555;
  font-size: 15px;
}

@media (max-width: 750px) {
  .footer {
    flex-flow: column;
  }
  .footer .logo {
    order: 1;
    margin-top: 30px;
  }

  .footer .copyright {
    order: 3;
    align-self: center;
    margin-top: 30px;
  }
}
